/* Stylesheet for Springboard Exercises */

/* Body styling */
body {
    background-color: beige;
    font-family: 'Georgia', serif; /* Fancy font family */
    color: #36454F; /* Charcoal grey color */
    font-size: 1.5em; /* Large font size */
    margin: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh; /* Ensure content fills the viewport height */
    box-sizing: border-box;
}

/* Header Styling */
h1 {
    font-size: 4em;
    color: #36454F;
    margin-bottom: 80px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Georgia', serif;
    font-weight: bold;

}
h2{
    font-size: 2em;
    color: #36454F;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Georgia', serif;
    font-weight: bold;
    text-decoration: underline;
}
li{
    margin-bottom: 10px;
    font-size: 1.2em;
    margin-top: 20px;
}

/* Container to hold content */
.container {
    text-align: left;
    width: 100%;
    max-width: 60%;
     display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid #36454F;
    border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 600px) {
    
}