# Ignore node_modules directory
node_modules/


# Ignore log files
*.log

# Ignore environment files
.env

# Ignore build directory
build/

# Ignore package-lock.json
# package-lock.json

# Ignore .DS_Store files
.DS_Store

# Ignore Starter Code directory
**/Starter Code*/

# Ignore PDF files
*.pdf
