body {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: #006400;
  color: azure;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-width: none;
}

.deckCardArea {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #006400;
  /* border-radius: 10px; */
  
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s;
  width: 150px;
  height: 220px;
  
  
}
.Card.drawn {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
/* TODO: Add a class for the card being drawn state */




.controls {
  margin-top: 20px;
  display: flex;
  gap: 20px; /* Space between buttons */
}

button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #006400;
  transition: background-color 0.3s, color 0.3s;
  min-width: 120px; /* Ensures buttons have equal width */
}

button:hover {
  background-color: rgb(109, 26, 139);
  color: #fff;
}

.shuffle-message {
  margin-top: 15px;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.shuffle-message.show {
  opacity: 1;
}
