.gif-container img {
  width: 300px; /* Adjusted width */
  height: 300px; /* Adjusted height */
  margin: 10px;
  border: 1px solid #3c4444;
  border-radius: 5px;
  object-fit: cover; /* Ensures the image covers the entire area */
}

#clear-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #d35562; /* Updated background color */
  color: beige; /* Updated text color */
  transition: background-color 0.3s ease; /* Smooth transition */
}

#clear-button:hover {
  background-color: #c00; /* Darker background on hover */
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  gap: 10px; 
}

#search-input {
  padding: 10px;
  width: 20%; 
  border-radius: 5px;
  border: 1px solid #ccc; 
  flex: 0 1 auto; 
}

#search-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: rgb(216, 216, 197); 
  color: #3c4444; 
  transition: background-color 0.3s ease; 
}

#search-button:hover {
  background-color: rgb(255, 255, 228); 
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  
  color: beige;
}

body {
  background-color: #3c4444; 
  color: beige; 
}
